 body {
    background-color: rgb(235, 16, 224);
    color: black;
    border-bottom: solid;
    border: rgb(224, 15, 137);
  }
  
  h1 {
    color: rgb(219, 32, 32);
    text-align: center;
    border-bottom: red;
    font-size: 16px;
    text-transform: uppercase;
    
  }

  h2 {
  color: red;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  }


 

  img {
    opacity: 50%;
    border-style: solid;
    border-width: 30px 30px;
    border-color: red;
    }

 p {
    background-color: rgb(13, 27, 221);
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: rgb(9, 167, 56);
    }

  p::first-letter {
    color: rgb(18, 194, 77);
  }

    a:visited
    {
    color: red;
    }


    a:hover {
    background-color: rgb(101, 101, 223);
    }


    



